@{
    Layout = "_ownLayout";
}
@model List<Product>
<title>Jackets</title>
<div id="searchResults">
    <div class="fs-1 fw-bold text-center mt-5">Jackets</div>
    <partial name="_mypartialview" model="Model" />
</div>
