@{
    Layout = "_ownLayout";
}
@model List<Product>
<title>Jeans</title>
<div id="searchResults">

    <main>
    <div class="fs-1 fw-bold text-center mt-5">Jeans</div>
    <partial name="_mypartialview" model="Model" />
</main>
</div>
