@{
    Layout = null;
}
@model OrderDetail
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="This is a login page template based on Bootstrap 5">
    <title>Order Details</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
</head>

<body>
    <section class="h-100">
        <div class="container h-100">
            <div class="row justify-content-sm-center h-100">
                <div class="col-xxl-4 col-xl-5 col-lg-5 col-md-7 col-sm-9">
                    <div class="text-center my-5">
                        <img src="~/OtherImages/Logo.png" alt="logo" width="200px">
                    </div>
                    <div class="card shadow-lg">
                        <div class="card-body p-5">
                            <h1 class="fs-4 card-title fw-bold mb-4">Order Details</h1>
                            <form method="post" asp-page="/Checkout/OrderProcessing">
                                <div class="mb-3">
                                    <label class="mb-2 text-muted" asp-for="Name" class="form-label">Name</label>
                                    <input id="name" type="text" class="form-control" asp-for="Name" autofocus>
                                    <span asp-validation-for="Name" class="text-danger"></span>
                                </div>

                                

                                <div class="mb-3">
                                    <label class="mb-2 text-muted" asp-for="Address" class="form-label">Shipping Address</label>
                                    <input id="address" type="text" class="form-control" asp-for="Address" >
                                    <span asp-validation-for="Address" class="text-danger"></span>
                                </div>

                                <div class="mb-3">
                                    <label class="mb-2 text-muted" asp-for="City" class="form-label">City</label>
                                    <input id="city" type="text" class="form-control" asp-for="City" >
                                    <span asp-validation-for="City" class="text-danger"></span>
                                </div>

                                <div class="mb-3">
                                    <label class="mb-2 text-muted" asp-for="PostalCode" class="form-label">Postal Code</label>
                                    <input id="PostalCode" type="text" class="form-control" asp-for="PostalCode" >
                                    <span asp-validation-for="PostalCode" class="text-danger"></span>
                                </div>

                                <!-- Country is read-only and not validated -->
                                <div class="mb-3">
                                    <label class="mb-2 text-muted" asp-for="Country" class="form-label">Country</label>
                                    <input id="country" class="form-control" asp-for="Country" value="Pakistan" readonly>
                                </div>

                                <div class="align-items-center d-flex">
                                    <button type="submit" class="btn btn-primary ms-auto">
                                        Place Order
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="text-center mt-5 text-muted">
                        Copyright &copy; 2024 &mdash; GentsOutfits
                    </div>
                </div>
            </div>
        </div>
    </section>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"></script>

   
</body>

</html>